In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
jupyter nbextension list

SyntaxError: invalid syntax (Temp/ipykernel_19828/3428296376.py, line 1)

In [73]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chatham,GB,2022-03-31 01:17:16,51.3789,0.5279,39.25,73,100,7.00
1,1,Bluff,NZ,2022-03-31 01:17:16,-46.6000,168.3333,61.77,81,100,4.65
2,2,Saint George,US,2022-03-31 01:12:31,37.1041,-113.5841,70.63,27,0,12.66
3,3,Cape Town,ZA,2022-03-31 01:14:10,-33.9258,18.4232,61.12,87,100,5.68
4,4,Rikitea,PF,2022-03-31 01:17:16,-23.1203,-134.9692,77.79,78,100,17.47

In [74]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [75]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [76]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [77]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [80]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [81]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [82]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Rikitea,PF,2022-03-31 01:17:16,-23.1203,-134.9692,77.79,78,100,17.47
7,7,Puerto Ayora,EC,2022-03-31 01:17:17,-0.7393,-90.3518,78.55,95,100,4.43
8,8,Benguela,AO,2022-03-31 01:17:18,-12.5763,13.4055,77.79,85,100,3.29
12,12,Butaritari,KI,2022-03-31 01:17:19,3.0707,172.7902,80.98,70,1,8.55
13,13,Tuburan,PH,2022-03-31 01:17:19,6.6439,122.2736,82.94,71,12,2.84
15,15,Hilo,US,2022-03-31 01:12:44,19.7297,-155.0900,80.33,77,40,11.50
17,17,West Bay,KY,2022-03-31 01:17:20,19.3667,-81.4167,80.67,79,20,11.50
20,20,Sabang,ID,2022-03-31 01:17:21,5.8933,95.3214,81.81,74,95,10.67
25,25,Sinnamary,GF,2022-03-31 01:17:23,5.3833,-52.9500,76.32,81,100,7.78
26,26,Kapaa,US,2022-03-31 01:17:23,22.0752,-159.3190,81.19,74,40,11.50

In [83]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [84]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4        Rikitea      PF     77.79 -23.1203 -134.9692
7   Puerto Ayora      EC     78.55  -0.7393  -90.3518
8       Benguela      AO     77.79 -12.5763   13.4055
12    Butaritari      KI     80.98   3.0707  172.7902
13       Tuburan      PH     82.94   6.6439  122.2736
15          Hilo      US     80.33  19.7297 -155.0900
17      West Bay      KY     80.67  19.3667  -81.4167
20        Sabang      ID     81.81   5.8933   95.3214
25     Sinnamary      GF     76.32   5.3833  -52.9500
26         Kapaa      US     81.19  22.0752 -159.3190

In [94]:
# Set parameters to search for a hotel.
params = {
    "radius": 15000,
    "types": "lodging",
    "key": g_key
}

In [112]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [113]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Rikitea,PF,77.79,-23.1203,-134.9692,People ThankYou
7,Puerto Ayora,EC,78.55,-0.7393,-90.3518,Finch Bay Galapagos Hotel
8,Benguela,AO,77.79,-12.5763,13.4055,Hotel Praia Morena
12,Butaritari,KI,80.98,3.0707,172.7902,Isles Sunset Lodge
13,Tuburan,PH,82.94,6.6439,122.2736,GT Site

In [114]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [115]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [118]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [119]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))